name: Node CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    test:
        name: install, build, unit testings & code coverage
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - run: npm install
            - run: npm build
            - run: npm test
