name: Node CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    test:
        name: install, build, unit testings & code coverage
        runs-on: ubuntu-latest
        run: |
            npm install
            npm run build
            npm test
